 ::-moz-selection {
  background: #99c3fc;
}

::selection {
  background: #99c3fc;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('fonts/JetBrainsMono-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('fonts/JetBrainsMono-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('fonts/JetBrainsMono-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}


html {
  font-size: 18px;
  font-family: "CrimsonPro", serif;
  display: table;
  margin: auto;
  background: #F2F0EF;
  height: 100%;
}

mark {
  background-color: #fca199;
}

underline {
  text-decoration: underline;
}

alt-text-color {
  color: #400080;
}

.highlight {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.highlight pre {
  font-size: 0.8em;
  font-family: "JetBrainsMono", monospace;
  padding-left: 0.8em;
}

a {
  color: #A2574F;
}

a:hover {
  color: #ED2100;
}

.post-table {
  margin-top: 1em;
  border-collapse: collapse;
  width: 100%;
  font-family: "CrimsonPro", monospace;
}

.post-item {
  font-size: 1em;
  font-weight: normal;
}

.post-item a {
  text-decoration: none;
}

.post-item td {
  padding: 0.1em;
}

.post-item td:nth-of-type(2) {
  font-family: "JetBrainsMono", monospace;
  font-size: 0.8em;
  font-weight: normal;
}

.id-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}
.id-table td {
  vertical-align:top;
}

.id-table table tr:nth-of-type(2) td {
  border-left: 1px dotted #000080;
  padding-left: 1em;
  font-size: 0.9em;
}

code {
  font-family: "JetBrainsMono";
  font-size: 0.8em;
}

aside {
  padding: 1em;
  font-size: 0.9em;
  border-left: 8px solid #949392;
  background: #C9C8C7;
}

.callout {
  padding: 1em;
  text-align: center;
  font-weight: 600;
  border-top: 8px solid #fb7367;
  background: #fca199;
}

header {
  background-color: #C9C8C7;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10%;
  border: 1px solid #949392;
  border-top: 20px solid #000080;
}

header nav {
  font-size: 1em;
}

header nav a {
  color: #222021;
  text-decoration: none;
  font-weight: 600;
  font-family: "JetBrainsMono", serif;
  font-size: 0.7em;
  padding: 0.1em 0.5em;
  background-color: #949392;
  border: 1px solid #66615E;
  box-shadow: 5px 5px;
  margin-right: 1em;
}

header nav a:hover {
  color: #000080;
}

.portrait {
  width: 7.7em;
  float: left;
  margin-right: 1.5em;
  border: 1px solid #222021;
}

body {
  width: 42em;
  display: table-cell;
  vertical-align: top;
  margin: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  line-height: 1.4;
}

h1 {
  font-size: 2.0em;
  font-family: "CrimsonPro", sans-serif;
  font-weight: bold;
  margin: 0em;
  padding-left: 0.2em;
}

h2 {
  font-size: 1.5em;
  padding: 0.1em;
  margin-bottom: 0em;
  font-family: "CrimsonPro", sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #949392;
  background: #e6e5e5;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  padding: 0.1em;
  font-family: "CrimsonPro", sans-serif;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px dotted #222021;
  background: #e6e5e5;
}

hr {
  border: none;
  border-bottom: 2px solid #E2522F;
}

footer {
  padding-top: 1em;
  text-align: left;
  border-top: 1px dotted #222021;
  font-family: "JetBrainsMono", monospace;
  font-size: 0.5em;
  line-height: 1.2;
}

/* --- narrow layout adjustments --- */
@media screen and (max-width: 450px) {
  .portrait {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.8em;
  }
}
