/* base styling */
html {
  font-size: 16px;
  font-family: "Georgia", serif;
  letter-spacing: 0.1px;
  background: #f5f5f5;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  font-family: "Arial", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 26px;
  font-family: "Arial", sans-serif;
}

a {
  outline: none;
  text-decoration: underline;
}

a:link, a:visited {
  color: #000000;
  font-style: italic;
}

a:hover {
  background-color: #98fb98;
}

a:active {
  color: #000000;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D3D3D3;
}
/* home page positioning */
#home {
  position: relative;
  top: 60px;
  max-width: 500px;
  margin: auto; 
  padding: 0px 30px;
  padding-bottom: 30px;
  border-top: 8px solid;
  /* flex properties */
  gap: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

/* home page spacing and styling */
#home h1 {
  margin-bottom: 8px;
}

#home-text {
  display: inline-block;
}

#home-image {
  padding-top: 35px;
  display: inline-block;
}
#home-links {
  font-size: 20px;
  font-family: "Arial", sans-serif;  
  font-weight: bold;
}

#home-links a:link, a:visited {
  font-style: normal;
}

#home-links a:hover {
  color: #5A5A5A;
  background-color: transparent;
}

/* about page */
#about {
  position: relative;
  top: 20px;
  max-width: 500px;
  margin: auto;
  padding: 0px 30px;
  /* flex properties */
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
}

#about h2 {
  /* border-top: 5px solid; */
  border-bottom: 2px solid;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

/* projects page */
#projects {
  position: relative;
  top: 20px;
  max-width: 500px;
  margin: auto;
  padding: 0px 30px;
  /* flex properties */
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
}

#projects h2 {
  /* border-top: 5px solid; */
  border-bottom: 2px solid;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

/* footer */
#footer {
  position: relative;
  top: 20px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 100px;
  padding: 30px 30px;
  /* flex properties */
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
}

footer #nametag {
  font-family: "Arial", sans-serif;
  border-top: 1px solid;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

footer #last-tag, footer #icons8-tag, footer #image-tag {
  font-size: 12px;
}

/* responsiveness ----------------------------------------------------------- */ 
/* --- bigger horizontal layouts --- */
@media (min-width: 1441px) and (orientation: landscape) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  footer #nametag {
    font-size: 16px;
  }

  footer #last-tag, footer #icons8-tag {
    font-size: 14px;
  }
}

/* --- vertical layouts --- */
@media (max-width: 700px) {
  #home {
    top: 40px;
    padding: 0px 30px;
    padding-bottom: 15px;
    max-width: 350px;
    /* flex properties */
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  #home-image {
    padding-top: 0px;
  }

  #projects {
    top: 25px;
    padding: 0px 30px;
    max-width: 350px;
  }

  #about {
    top: 20px;
    padding: 0px 30px;
    max-width: 350px;
  }

  #footer {
    top: 20px;
    padding: 30px;
    max-width: 350px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 14px;
  }

  footer #nametag {
    font-size: 12px;
  }

  footer #last-tag, footer #icons8-tag {
    font-size: 10px;
  }
}

@media (max-width: 305px) {
  footer #nametag {
    font-size: 10px;
  }

  footer #last-tag, footer #icons8-tag {
    font-size: 10px;
  }
}
