@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: url('fonts/CrimsonPro/CrimsonPro-BlackItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Handjet";
  src: url('fonts/Handjet/Handjet-Black.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Handjet";
  src: url('fonts/Handjet/Handjet-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('fonts/JetBrainsMono-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
  font-family: "CrimsonPro", serif;
  display: table;
  margin: auto;
  background: #FCD299;
}

mark {
  background-color: #A7FCEF;
}

.highlight {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.highlight pre {
  font-size: 0.8em;
  font-family: "JetBrainsMono", monospace;
}

a {
  color: #8b0000;
}

a:hover {
  color: #E90017;
}

.post-table {
  width: 100%;
}

.post-item {
  font-size: 0.8em;
  font-family: "JetBrains Mono", monospace;
}

aside {
  padding: 1em;
  font-size: 0.9em;
  border: 1px solid #5A61B0;
  border-left: 5px solid #5A61B0;
  background: #FCC981;
}

.callout {
  padding: 1em;
  font-size: 0.9em;
  border: 1px solid #8b0000;
  border-left: 5px solid #8b0000;
  background: #FEE68E;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10%;
  border-bottom: 4px solid #222021;
}

header nav {
  display: flex;
  align-items: end;
  font-size: 1em;
  gap: 0.5em;
  margin-right: 0.5em;
}

header nav a {
  color: #FCD299;
  text-decoration: none;
  font-weight: 600;
  padding: 0.1em 0.6em;
  background-color: #222021;
}

header nav a:hover {
  color: #FCD299;
  text-decoration: underline;
}

.portrait {
  width: 7em;
  float: left;
  margin-right: 1.5em;
  border: 1px solid #222021;
}

body {
  width: 42em;
  display: table-cell;
  vertical-align: middle;
  margin: 4em;
  padding: 2em;
  font-size: 1em;
  line-height: 1.3;
}

h1 {
  font-size: 2em;
  font-family: "Handjet", "CrimsonPro", serif;
  margin: 0em;
}

h2 {
  font-size: 1.5em;
  padding: 0.1em;
  font-family: "Handjet", "CrimsonPro", serif;
  font-weight: 600;
}

hr {
  border: none;
  border-bottom: 2px solid #E2522F;
}

footer {
  padding-top: 0.5em;
  border-top: 2px solid #222021;
  font-size: 0.7em;
}

/* --- narrow layout adjustments --- */
@media screen and (max-width: 450px) {
  .portrait {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.8em;
  }
}
