/* || GENERAL STYLES */
/* ---------------------------------------------------------------------------*/
/* default font, sizing, spacing */
html {
    max-width: 1440px;
    margin: auto;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400; 
    color: #333333;
    scroll-behavior: smooth;
}

/* default links */ 
a {
    outline: none;
    text-decoration: none;
}

a:link, a:visited {
    color: #7B68ED;
}

a:focus, a:hover {
    border-bottom: 1px solid;
}

a:active {
    color: #FF686B;
}

/* header styling */
h1, h2 {
    font-family: "Lora", monospace;
    font-weight: bold;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

/* || MENU AND CONTACT BUTTON */
/* ---------------------------------------------------------------------------*/
/* Menu */
.menu {
    /* visuals */
    background-color: #E8E9EA;
    /* rgba(237,238,238,0.9); */
    border: #333333 solid 2px;
    border-radius: 8px; 
    box-shadow: 3px 3px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    /* positioning */
    box-sizing: border-box;
    position: fixed;
    display: inline-block;
    width: 305px;
    left: 6.67%;
    top: 27px;
    margin: 0;
    z-index: 2;
    min-height: 42px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 42px;
}

.menu a {
    flex-grow: 1;
    text-align: center;
    padding-top: 8px;
}

.menu a:link, .menu a:visited {
    color: #333333;
    transition: background-color 0.5s ease;
    border-radius: 6px;
}

.menu a:focus, .menu a:hover {
    border: none;
    background-color: #CFD0D1;
    border-radius: 6px;
    animation-duration: 0.2s;
    animation-name: menuFade1;
}

@keyframes menuFade1 {
    from {
        background-color: #E8E9EA;
    }
    to {
        background-color:#CFD0D1;
    }
}

@keyframes menuFade2 {
    from {
        background-color: #A5B0FA;
    }
    to {
        background-color: #CFD0D1;
    }
}

/* menu highlighting when active */
.menu .active {
    background-color: #A5B0FA;
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.menu .active:focus, .menu .active:hover {
    border: none;
    background-color: #CFD0D1;
    border-radius: 6px;
    animation-duration: 0.2s;
    animation-name: menuFade2; 
}

/* Contact Button */
#contact-button {
    /* visuals */
    background-color: #A5B0FA;
    color: #333333;
    border: #333333 solid 2px;
    border-radius: 8px;
    box-shadow: 3px 3px;
    padding: 4px 10px 6px 10px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    /* positioning */
    position: fixed;
    display: inline-block;
    right: 6.67%;
    top: 27px;
    margin: 0;
    z-index: 2;
}

#home #contact-button p {
    margin: 2.5px 5px;
    color: #333333;
    font-size: 20px;
    line-height: 1.15;
}

#contact-button:focus, #contact-button:hover {
    background-color: #A5F4DB; 
    cursor: pointer;
    animation-duration: 0.25s;
    animation-name: contactFade;
}

@keyframes contactFade {
    from {
        background-color: #A5B0FA;
    }
    to {
        background-color: #A5F4DB;
    }
}

/* media query to fix menu/contact button location when width >= 1440px */
@media screen and (min-width: 1440px) {
    .menu {
        left: calc(50vw - 720px + 96px);
    }

    #contact-button {
        right: calc(50vw - 720px + 96px);
    }
}
/* || HOME PAGE */
/* ---------------------------------------------------------------------------*/
#home {
    position: relative;
    min-height: 715px;
    background-color: #F7F8F9;
    margin: auto;
    padding: 0 6.67%;
}

#home section {
    position: absolute;
    display: inline-block;
    max-width: 550px;
    left: 6.67%;
    top: 250px;
    margin-right: 10%;
    z-index: 1;
}

#home h1 {
    width: 100%;
    padding: 0;
    margin: 0;
}

#home p {
    /* visual */
    color: #6F6F6F;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.3;
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
    /* positioning */
    margin: 10px 0px 0px 0px;
    padding: 0;
}

#home-links {
    color: #5B5B5B;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    list-style-type: none;
    margin: 25px 0px 0px 0px;
    padding: 0;
} 

#home-links li {
    display: inline;
    padding: 2.5px 12px 4px 12px;
    border: #5B5B5B solid 2px; 
    border-radius: 5px;
    margin-right: 21px;
}

#home-links li:nth-child(4) {
    margin-right: 0;
}

#home-links li:focus, #home-links li:hover {
    background-color: #E8E9EA;
    cursor: pointer;
    animation-duration: 0.25s;
    animation-name: linkFade;
}

@keyframes linkFade {
    from {
        background-color: rgba(247,248,249,0);
    }
    to {
        background-color: #E8E9EA;
    }
}

#img-home {
    padding: 0;
    position: absolute;
    display: inline-block;
    max-width: 532px;
    top: 220px;
    right: 6.67%;
}



/* || ABOUT PAGE */
/* ---------------------------------------------------------------------------*/
#about {
    position: relative; /* hack to position about section from right */
    min-height: 715px;
    background-color: #F2F3F4;
    margin: auto;
    padding: 0 6.67%;
}

#about section {
    position: absolute;
    box-sizing: border-box;
    max-width: 550px;
    top: 114px;
    /* ensure right margin still 6.67% width */
    right: 6.67%; 
    z-index: 1;
}

#about h2 {
    margin: 0;
}

#about p {
    line-height: 1.7;
    margin-top: 1.2em;
}

#img-about {
    padding: 0;
    position: absolute;
    display: inline-block;
    max-width: 475px;
    top: 80px;
    left: 6.67%;
}

/* || PROJECTS PAGE */
/* ---------------------------------------------------------------------------*/
#projects {
    position: relative;
    min-height: 715px;
    background-color: #F7F8F9;
    margin: auto;
    padding: 0 6.67%;
    /* padding to keep content from crowding bottom of page */
    padding-bottom: 90px;
}

#projects section {
    position: absolute;
    box-sizing: border-box;
    max-width: 550px;
    top: 114px;
    left: 6.67%;
    /* give right boundary breathing room at smaller widths */
    margin-right: 6.67%;
    z-index: 1;
}

#projects h2 {
    margin: 0;
}

#projects table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 1.2em 0;
    position: relative;
    line-height: 1.5;
}

.p-head td {
    font-size: 24px;
    font-family: "Lora", serif;
    font-weight: bold;
    padding-top: 15px;
}

.p-head td:nth-child(2), .p-misc td:nth-child(2) {
    text-align: right;
}

/* add padding to table elements */
.p-head td:first-child, .p-misc td:first-child, .p-desc td {
    padding-left: 7px;
}

.p-head td:last-child, .p-misc td:last-child, .p-desc td {
    padding-right: 7px;
}

/* create zebra striping */
#projects tbody:nth-child(odd) {
    background-color: #EDEEEF;
}

.p-misc td {
    color: #6F6F6F;
    padding-bottom: 8px;
}

.p-desc {
    border-bottom: #333333 solid 1px;
}

.p-desc td {
    padding-bottom: 10px;
}

.table-link {
    border: #6F6F6F solid 1px;
    border-radius: 4px;
    padding: 2px 5px 3px 5px;
}

.table-link:focus, .table-link:hover {
    background-color: #E8E9EA;
    cursor: pointer;
    animation-duration: 0.25s;
    animation-name: linkFade; 
}

#img-proj {
    padding: 0;
    position: absolute;
    display: inline-block;
    max-width: 532px;
    top: 200px;
    right: 6.67%;
}

/* || FOOTER */
/* ---------------------------------------------------------------------------*/
footer {
    position: relative;
    min-height: 100px;
    background-color: #F2F3F4;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
}

#foot-links {
    position: absolute;
    display: block;
    list-style-type: none;
    max-width: 450px;
    padding: 0;
    top: 36px;
    left: 6.67%;
    margin: 0;
}

#foot-links li {
    display: inline;
    margin-right: 43px;
}

#foot-links li:nth-child(4) {
    margin-right: 0;
}

#foot-links li:nth-child(4) {
    margin-right: 0;
}

#foot-links a:link, #foot-links a:visited {
    color: #5B5B5B;
    border-bottom: #5B5B5B solid 1px;
}

#foot-links a:focus, #foot-links a:hover {
    color: #333333;
    border-bottom: #333333 solid 1px;
}

footer #foot-name {
    color: #5B5B5B;
    max-width: 155px;
    position: absolute;
    top: 36px;
    right: 6.67%;
    text-align: right;
    margin: 0;
}

footer #icon-link {
    font-size: 14px;
    color: #5B5B5B;
    max-width: 155px;
    position: absolute;
    top: 60px;
    right: 6.67%;
    text-align: right;
    margin: 0;
}

/* || GENERAL MEDIA QUERIES */
/* ---------------------------------------------------------------------------*/
@media screen and (max-width: 1290px) {
    #img-home {
        max-width: 450px;
        top: 250px;
    }

    #img-about {
        max-width: 400px;
        top: 120px;
    }

    #img-proj {
        max-width: 420px;
        top: 220px;
    }
}

@media screen and (max-width: 1140px) {
    #img-home {
        max-width: 300px;
        top: 275px;
    }

    #img-about {
        max-width: 270px;
        top: 200px;
    }

    #img-proj {
        max-width: 310px;
    }
}

@media screen and (max-width: 1000px) {
    #home section {
        display: block;
        position: static;
        margin: auto;
        padding-top: 175px;
        text-align: center;
    }

    #img-home {
        display: block;
        position: static;
        margin: auto;
        max-width: 500px;
        margin-top: 75px;
        padding-bottom: 75px;
    }

    #about section {
        display: block;
        position: static;
        margin: auto;
        max-width: 420px;
        padding-top: 120px;
    }

    #img-about {
        display: block;
        position: static;
        margin: auto;
        max-width: 390px;
        margin-top: 50px;
        padding-bottom: 75px;
    }

    #projects section {
        display: block;
        position: static;
        margin: auto;
        max-width: 420px;
        padding-top: 120px;
    }

    #img-proj {
        display: block;
        position: static;
        margin: auto;
        max-width: 420px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 740px) {
    #foot-links {
        position: static;
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    footer #foot-name {
        position: static;
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }

    footer #icon-link {
        position: static;
        margin: auto;
        text-align: center;
        margin-top: 12px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 635px) {
    #home section {
        padding-top: 120px;
        max-width: 420px;
    }

    h1 {
        font-size: 72px;
    }

    #home p {
        font-size: 48px;
    }

    #home-links li{
        display: block;
        /* zero previous margins */
        margin: 0;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #contact-button {
        box-sizing: border-box;
        display: block;
        position: static;
        margin: auto;
        max-width: 420px;
    }

    #home #contact-button p {
        text-align: center;
        font-size: 24px;
        padding-top: 4.5px;
        padding-bottom: 4.5px;
   }

   .menu {
       display: block;
       margin: auto;
       left: 0;
       right: 0;

   }
}

@media screen and (max-width: 475px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 48px;
    }

    #home p {
        font-size: 30px;
    }

    #home-links {
        font-size: 20px;
    }

    #home #contact-button p {
        font-size: 20px;
    }

    #foot-links li {
        display: block;
        margin: 0;
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 340px) {
    /* fix menu width/font-size */
    .menu {
        font-size: 18px;
        width: 280px;
        min-height: 38px
    }

    .menu ul {
        min-height: 38px;
    }
}

