@font-face {
  font-family: "Inria Sans";
  src: url('fonts/inria-sans/InriaSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url('fonts/inria-sans/InriaSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Inria Sans";
  src: url('fonts/inria-sans/InriaSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: "Inria Sans", sans-serif;
  display: table;
  margin: auto;
}

mark {
  background-color: #fffcbf;
}

a {
  color: #8b0000;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: linear-gradient(90deg, RGBA(185, 189, 134, 1), RGBA(185, 189, 134, 0.5));
  border-top: 3px solid #535724;
  border-bottom: 1px solid #535724;
  gap: 10%;
}

header nav {
  display: flex;
  align-items: start;
  font-size: 1em;
  gap: 0.5em;
  margin-right: 0.5em;
}

header nav a {
  color: #FAF9F6;
  text-decoration: none;
  padding: 0.2em 0.4em;
  background-color: #535724;
}

header nav a:hover {
  text-decoration: underline;
}

.portrait {
  width: 15em;
  border-radius: 30%;
  float: right;
  margin: 1em;
  border: 3px solid #D3D3D3;
}

body {
  width: 40em;
  display: table-cell;
  vertical-align: middle;
  margin: 4em;
  padding: 2em;
  font-size: 1em;
  line-height: 1.3;
}

h1 {
  font-size: 2em;
  margin: 0em;
  padding-left: 0.2em;
}

h2 {
  font-size: 1.5em;
  padding-left: 0.2em;
  padding-top: 0.1em;
  background: linear-gradient(90deg, rgba(195, 177, 225,1) 0%, rgba(195, 177, 225,0.2) 100%);
  border-left: 1px solid #800080;
  border-bottom: 1px solid #800080;
}

footer {
  border-top: 2px solid #D3D3D3;
  font-size: 0.7em;
}

/* --- narrow layout adjustments --- */
@media screen and (max-width: 450px) {
  .portrait {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}
