header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: none;
  border-top: none;
  border-bottom: 3px solid #222021;
  gap: 10%;
}

footer {
  border-top: none;
  text-align: center;
  font-size: 1em;
}

h1 {
  font-size: 1.7em;
  padding: 0.1em 0;
}

h2 {
  font-size: 1.3em;
  padding-left: 0;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-left: none;
  border-bottom: 3px solid #222021;
  background: none;
}

.post-date {
  margin: 0;
  font-style: italic;
}
