header {
  display: flex;
  flex-flow: row wrap;
  border: none;
  background: none;
  border-top: 12px solid #000080;
  padding-top: 0.4em;
  justify-content: center;
  gap: 10%;
}

footer {
  border-top: none;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
}

h1 {
  padding-top: 0.3em;
  font-size: 2.0em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  padding-left: 0;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #222021;
  background: none;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  border-bottom: 1px dotted #222021;
}

.post-date {
  margin: 0;
  font-style: italic;
  text-align: center;
}
